* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(2, 129, 202);
    color: white;
    background-image: url(../img/pattern.png);
    background-size: 25%;
}
.paragraph{
    font-size: large;
}
.logo{
    width: 25%;
}

.photo-source{
    font-size: smaller;
}